.mySkills {
    height: 600px;
    width: 100%;
    position: relative;
}


.three {
    display: flex;
  justify-content: center;
  align-items: center;
    width: 100%;
  }
  .skills{
    width: 40%;
  }
  .libraire {
    width: 40%;
  }
  /* section:first-child {
    background-color: #aaa;
  } */
  .three:nth-child(2) {
    background-color: #bbb;
  }
  .three:nth-child(3) {
    background-color: #ccc;
  }
  .three:last-of-type {
    background-color: #eee;
  }
  .progress {
    position: relative;
    
    height: 10px;
    background-color: white;
    margin: 10px;
  }
  .progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #ffc107;
    transition: width 0.4s linear;
  }
  @media(max-width: 767px){
    .mySkills{
      height: 720px;
    }
    .three {
      flex-direction: column;
      
    }
    .skills,
    .libraire{
      width: 90%;
    }

  }