footer {

    height: 100px;
    background-color: #07182E;
    color: azure;

}
.mySociaIconList li {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    background-color: antiquewhite;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #07182E;
    z-index: 2;
}
.mySociaIconList .myfacebook:hover {
background-color: rgb(74, 74, 189);
}
.mySociaIconList .mygithub:hover {
background-color: rgb(178, 178, 200);
}
.mySociaIconList .mytwitter:hover {
background-color: rgb(122, 209, 238);
}
.mySociaIconList .mylinkedin:hover {
background-color: rgb(99, 99, 160);
}
.myBrand img {
    width: 60px;
    height: 60px;
    border-radius: 50%;

}